.App {
  background-color: darkcyan;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.songs-list-container {
  position: relative;
  height: 100vh;
  width: 40%;
  left: 30%;
  
}

.table {
  background-color: aliceblue;
}

.tableHeadCell {
  font-weight: bolder;
}

